
@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";

    // if we want to use other layout in different view, we can simply assign like this,
    // because the program give priority to this then it goes to Layout in the _ViewStart 
    // Layout = "~/Views/Shared/_Layout2.cshtml";

    //if we dont want to use any layout in View then view can assign null to the Layout
    Layout = null;

    // var dateAndTIme = DateTime.Now; 
    // var year = DateTime.Now.Year; 

    //storing data coming from controller
    string name = (string) ViewData["name"];

}

<h1>Index - This is My HomePage @name</h1>


    @* accessing data coming from the controller action *@

@ViewData["name"]
<br />
@ViewData["dept"]
<br />
@ViewData["sem"]
<br />
@ViewData["date"]
<br />

@{
    foreach (var item in (string[]) ViewData["array"])
    {
        <p>Name: @item</p>
    }
}


@* <h2>Current Date And Time is @dateAndTIme</h2>
<h2>Current Year is @year</h2>

@{
    string myName = "Sarmad";
    if (myName.Equals("Sarmad"))
    {
        <h2>Welcom Sarmad</h2>
    }
    else
    {
        <h2>Bye</h2>
    }

    for (int i = 0; i < 10; i++)
    {
        <h2>@i</h2>
    }

    string[] names = {"Sarmad", "Uzair", "Ali", "Jalbani"};

    foreach (var item in names)
    {
        <h3>Student Name: @item</h3>
    }
} *@

