
@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";

    // if we want to use other layout in different view, we can simply assign like this,
    // because the program give priority to this then it goes to Layout in the _ViewStart 
    // Layout = "~/Views/Shared/_Layout2.cshtml";

    //if we dont want to use any layout in View then view can assign null to the Layout
    Layout = null;

    // var dateAndTIme = DateTime.Now; 
    // var year = DateTime.Now.Year; 

    //storing data coming from controller
    string name = (string) ViewData["name"];

    string tempData = (string)TempData["tempdata"];

    //checking for null value in tempdata
    // if (TempData["tempdata"] != null)
    // {
    //     tempData = (string)TempData["tempdata"];
    // }

    //model data stored here from controller
    var personsData = ViewData["persons"] as List<ControllersAndActionsASP.Models.PersonModel>;

}

@* display person data in table *@
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Profession</th>
    </tr>
    @foreach (var item in personsData)
    {
        <tr>
            <td>@item.personName</td>
            <td>@item.personAge</td>
            <td>@item.personProfession</td>
        </tr>
    }
</table>
<h1>Index - This is My HomePage @name</h1>


    @* accessing data coming from the controller action *@

    @{
        if (tempData != null)
    {
        <p>This is @tempData</p>
    }
    }

@TempData["tempdata"]
<br />
@ViewData["name"]
<br />
@ViewData["dept"]
<br />
@ViewData["sem"]
<br />
@ViewData["date"]
<br />

@{
    foreach (var item in (string[]) ViewData["array"])
    {
        <p>Name: @item</p>
    }
}


@* <h2>Current Date And Time is @dateAndTIme</h2>
<h2>Current Year is @year</h2>

@{
    string myName = "Sarmad";
    if (myName.Equals("Sarmad"))
    {
        <h2>Welcom Sarmad</h2>
    }
    else
    {
        <h2>Bye</h2>
    }

    for (int i = 0; i < 10; i++)
    {
        <h2>@i</h2>
    }

    string[] names = {"Sarmad", "Uzair", "Ali", "Jalbani"};

    foreach (var item in names)
    {
        <h3>Student Name: @item</h3>
    }
} *@

